root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,json,yaml,yml}]
indent_size = 2

[*.cs]
dotnet_sort_system_directives_first = true:warning
dotnet_style_allow_multiple_blank_lines_experimental = false:warning

csharp_style_namespace_declarations = file_scoped
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# IDE0005: Remove unnecessary usings
dotnet_diagnostic.IDE0005.severity = warning
# IDE0044: Make field readonly
dotnet_diagnostic.IDE0044.severity = warning
# IDE0055: All formatting rules
dotnet_diagnostic.IDE0055.severity = warning
# IDE0161: Convert to file-scoped namespace
dotnet_diagnostic.IDE0161.severity = warning
# IDE2000: Disallow multiple blank lines
dotnet_diagnostic.IDE2000.severity = warning
